@charset "UTF-8";

/* 메인페이지 */

main {
	background-color: white;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 20px 300px;
    gap: 150px;
    min-width: 1200px;
}

main .event {
	width: 900px;
    height: 450px;
}

main .event img {
	width: 100%;
	height: 100%;
}


/* best */

main .best {
	width: 1060px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
	gap: 30px;
}
.best h1,
.best-review h1 {
	color: #71b9c3;
}


/* 스크롤 */

.bestitem-container,
.bestreview-container {
	position: relative;
}

.bestitem-container #scroll-left,
.bestreview-container #scroll-left1 {
    position: absolute;
    top: 50%;
    cursor: pointer;
	padding: 10px;
	font-weight: bold;
    font-size: 24px;
    transform: translateX(-100%);
    
}
.bestitem-container #scroll-right,
.bestreview-container #scroll-right1 {
    position: absolute;
    top: 50%;
    left: 100%;
    cursor: pointer;
	padding: 10px;
	font-weight: bold;
    font-size: 24px;
}

.slide-right {
	animation: slide-right 1s forwards;
}
.slide-left {
	animation: slide-left 1s forwards;
}
.slide-right2 {
	animation: slide-right2 1s forwards;
}
.slide-left2 {
	animation: slide-left2 1s forwards;
}


/* 베스트 아이템 */
.bestitem-box>div {
	width: 240px;
	height: 320px;
	margin: 10px;
}
.bestitem-container {
	width: 100%;
}

.bestitem-container .bestitem-list {
	height: 370px;
	white-space: nowrap;
	overflow: hidden;
}

.bestitem-wrap {
	width: fit-content;
	font-size: 0;
	letter-spacing: 0;
	word-spacing: 0;
}

.bestitem-box {
	width: 240px;
	display: inline-block;
	margin: 10px;
	white-space: normal;
	font-size: 16px;
}

.bestitem-box .bestitem-image {
	width: 100%;
	height: 200px;
	overflow: hidden;
	margin: 0 auto;
}

.bestitem-box .bestitem-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.bestitem-box .bestitem-name {
	display: flex;
	flex-direction: column;
	align-items: center;
	height: 150px;
	padding: 10px;
	gap: 10px;
	margin: 0;
}

.bestitem-name-wrap {
    display: flex;
    gap: 10px;
    flex: 1;
    width: 100%;
}
.bestcount {	
	font-size: 32px;
    display: flex;
    cursor: default;
}

.bestitem-name a {
	flex: 1;
	font-size: 16px;
	font-weight: 500;
}
.bestitem-name .review-content {
	flex: 1;
	font-size: 16px;
	font-weight: 500;
}

.bestitem-name a .discount {
	color: #28BACE;
}

.bestitem-name a:hover>span:last-child {
	text-decoration: underline;
}

.bestitem-name .price {
	font-weight: 700;
	cursor: default;
}

.bestitem-name .price .viewprice {
	text-decoration: line-through;
	font-size: 15px;
	text-align: center;
	color: #b2b2b2;
	font-weight: normal;
}

.bestitem-name .item-info {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

/* 베스트 리뷰 */
main .best-review {
	width: 1100px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
	gap: 30px;
}

.bestreview-box>div {
	width: 240px;
	height: 320px;
	margin: 10px;
}
.bestreview-container {
	width: 100%;
}

.bestreview-container .bestreview-list {
	height: 390px;
	white-space: nowrap;
	overflow: hidden;
}

.bestreview-wrap {
	width: fit-content;
	font-size: 0;
	letter-spacing: 0;
	word-spacing: 0;
}

.bestreview-box-wrap {
	width: 260px;
    display: inline-flex;
    margin: 5px;
    white-space: normal;
    position: relative;
}

.review-cover {
	position: absolute;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
	color: white;
	display: none;
}
.review-cover>p {
	font-size: 16px;
}
@keyframes cover {
	to {
		background: rgba(0,0,0,0.7);
		}
}
.bestreview-box-wrap:hover>a>.review-cover{
	display: inline-flex;
	cursor: pointer;
	animation: cover 0.3s forwards;
}

.bestreview-box {
	width: 260px;
    white-space: normal;
    font-size: 16px;
    border: 1px solid #d5d5d5;
    box-shadow: 2px 2px 4px -2px #9d9d9d;
    padding: 10px;
}

.bestreview-box .bestreview-image {
	width: 100%;
	height: 200px;
	overflow: hidden;
	margin: 0 auto;
}

.bestreview-box .bestreview-image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.bestreview-box .bestreview-name {
	display: flex;
    flex-direction: column;
    align-items: center;
    height: 160px;
    padding: 10px;
    gap: 10px;
    margin: 0;
}

.bestreview-name a {
	flex: 1;
	font-size: 16px;
	font-weight: 500;
}
.bestreview-name .review-content {
	flex: 1;
	font-size: 16px;
	font-weight: 500;
}

.bestreview-name a .discount {
	color: #28BACE;
}

.bestreview-name a:hover>span:last-child {
	text-decoration: underline;
}

.bestreview-name .price {
	font-weight: 700;
	cursor: default;
}

.bestreview-name .price .viewprice {
	text-decoration: line-through;
	font-size: 15px;
	text-align: center;
	color: #b2b2b2;
	font-weight: normal;
}

.bestreview-name .item-info {
	display: flex;
	width: 100%;
	justify-content: space-between;
}

/* 별점 */
.star{
	cursor: default;
	display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
}
.reviewstar{
	cursor: default;
	display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.stargrade {
	color: #28BACE;
	letter-spacing: -0.1rem;
	
}
.stargrade .nonstar {
	color: #ABABAB;
}

.review-count{
	color: #A8A8A8;
	font-size: 13px;
}
.product-name{
	color: #A8A8A8;
	font-size: 13px;
}

/* 품절, 특가세일, 마감임박 */
.soldout {
	width: 36px;
	background: #ABABAB;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2px 0px;
	color: white;
	font-size: 12px;
	cursor: default;
}

.deadline {
	width: 60px;
	background: #be0000;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2px 0px;
	color: white;
	font-size: 12px;
	cursor: default;
	animation: 0.5s deadline infinite;
}

@keyframes deadline {
  0% {
    background: #be0000;
  }

  50% {
    background: #ff1f65;  	
  }
  to {
    background: #be0000;
  }
}

.specialprice {
	width: 36px;
	background: #F8A120;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 2px 0px;
	color: white;
	font-size: 12px;
	cursor: default;
}

.hits {
	width: 100%;
	text-align: right;
}